.onboardingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
  }
  
  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #8D3131;
  }
  
  .genresGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 80%;
    max-width: 800px;
  }
  
  .genreCard {
    background-color: #333;
    padding: 1rem;
    border: 2px solid #444;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: #ccc;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .genreCard:hover {
    background-color: #444;
    color: #fff;
  }
  
  .selected {
    background-color: #8D3131;
    color: #fff;
  }
  
  .checkMark {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }
  
  .nextButton {
    margin-top: 1.5rem;
    padding: 0.5rem 2rem;
    background-color: #8D3131;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
  }
  
  .nextButton:hover {
    background-color: #b04040;
  }
  